.new-login

{
background-size: cover;
background: url(background-login.jpg);
background-repeat: no-repeat;
background-position: 0% 66%;
background-attachment: fixed;

}


.profile-sign-login {
  background-color: #ffffff61;
}
