.rental-list {

  display: flex;
  flex-direction: column;
  gap: 40px;

  h3::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 8px;
    margin-right: 8px;
    background-color: var(--cor-p1);
    transition: width 0.2s;
    position: relative;
    top: -6px;
  }

}

.rental-card {

  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  padding: 20px;
  background-color: var(--cor-0);
  align-items: center;
  border-radius: 4px;


}
