.grid-product {
 display: grid;
 grid-template-columns: 2fr 1fr;
 gap: 40px;
}

.product-media {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  height: 100%;
}

.media-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.primary-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.secondary-image {
  height: 300px;
  width: 100%;
  object-fit: cover;

}

.product-image {
  border-radius: 4px;
}
.product-info {

h1 {
  font-size: 32px;
  font-weight: bold;

}

h1::before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 12px;
  margin-right: 6px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
  position: relative;
  top: -6px;
}


.bullet-title {
  color: var(--cor-p1);
  font-size: 40px;
}

p {
  margin: 0px 0 20px 0;
  opacity: 0.7;
}

.price {
  font-size: 24px;
  display: block;
  margin-bottom: 20px;

}
.price::after {
  content:' per day';
  font-size: 12px;
  letter-spacing: -1;

}

.available {

  background-color: #24ff4c5c;
  color: #093D12;
  padding: 2px 8px;
  border-radius: 50px;
  display: inline-block;
}

.not-available {

  background-color: #ff3d6141;
  color: #6E081A;
  padding: 2px 8px;
  border-radius: 50px;
  display: inline-block;
}

.future-available {

  background-color: #bab32d64
  ;
  color: #595615;
  padding: 2px 8px;
  border-radius: 50px;
  display: inline-block;
}

}

.details {
  margin-top: 40px;
}


.details  {

  h3 {

    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;
}
}

.details-list  {

  max-width: 500px;

ul {
  padding: 32px;
  background-color:#EDEDED;
  border-radius: 4px;
}

  li {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #DEDEDE;
}

  li:last-child {
    border-bottom: none;
  }

  span {
    opacity: 0.7;
  }
}
