.grid-product {
 display: grid;
 grid-template-columns: 2fr 1fr;
 gap: 40px;
}

.product-media {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 40px;
}

.product-image {
  object-fit: cover;
  height: 100%;
  border-radius: 4px;
}

.gallery-image {
display: flex;
flex-direction: column;
gap: 20px
}

.thumb {
  border-radius: 4px;
  }

.product-info {

h1 {
  font-size: 28px;
  font-weight: bold;
}

p {
  margin: 20px 0 20px 0;
}

.price {
  font-size: 24px;
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}

}

.details {
  margin-top: 40px;
}


.details  {
  li::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  margin: 0.625rem 0 0.625rem 0;
  position: relative;
}
}
