<div class="banner">
  <div class="container">
    <h1>Guitars</h1>
    <p>Rent a guitar!</p>
  </div>
</div>


<div class="container mt-5 mb-5">
  <%= render "shared/guitar_cards", guitars: @guitars %>
</div>
