<div class="banner">
  <div class="container">
    <h1 class="font-1-xxl cor-0">Guitars</h1>
    <p class="font-2-l cor-5">Rent a guitar!</p>
  </div>
</div>


<div class="container container-p">
<h2 class="font-1-xxl">Escolha a sua<span class="cor-p1">.</span></h2>
  <%= render "shared/guitar_cards", guitars: @guitars %>
</div>
