<div class="banner">
  <div class="container">
    <h1>Guitars</h1>
    <p>Rent a guitar!</p>
  </div>
</div>

<%# <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: guitars_path, method: :get, class: "d-flex" do %>
      <%# <%= text_field_tag :query, %>
            <%# params[:query],
            class: "form-control", %>
            <%# placeholder: "Type a keyword"
        %>
      <%# <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>


<div class="container mt-5 mb-5">
  <%= render "shared/guitar_cards", guitars: @guitars %>
</div>
