<ul>
  <% @guitars.each do |guitar| %>
    <li>
      <%= link_to guitar.name, guitar_path(guitar) %>
      <p></p>
    </li>
  <% end %>
</ul>
<%= link_to 'Lend a guitar', new_guitar_path, class: 'btn btn-primary' %>
