<div class="banner">
  <div class="container">
    <h1>Guitarras</h1>
    <p>Alugue sua guitarra!</p>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="cards">
    <% @guitars.each do |guitar| %>
     <div class="card-product">
     <% if guitar.photos.attached? %>
      <% guitar.photos.each do |photo|%>
        <%= cl_image_tag photo.key, class:"product-image" %>
      <% end %>
      <% else %>
      <%= image_tag "guitar.webp", class: "product-image" %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= guitar.name %></h2>
              <span class="price"> R$ <%= guitar.price_per_day %></span>
      </div>
      <a class="btn-rent btn-card" href="#">Alugar</a>
      </div>
    <% end %>
  <div>
</div>
