<ul>
  <% @guitars.each do |guitar| %>
    <li>
      <%= link_to guitar.name, guitar_path(guitar) %>
      <%= link_to 'delete', guitar_path(guitar), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
    </li>
  <% end %>
</ul>
