<div class="container container-p">
<div class="card-edit-user">

  <h1 class="font-1-xxl mb-x">List new Guitar<span class="cor-p1">.</span></h1>

  <div class='container'>
    <%= render "shared/guitar_form", guitar: @guitar %>
  </div>
</div>
</div>
