<div class="footer-background">
  <div class="container">
    <div class="footer-grid">
    <div>
      <p class="cor-2 font-1-s">Rent the best guitars and play your show<span class="cor-p1 font-1-m-b"> .</span></p>
      </div>
      <span class="cor-5 font-1-xs">© GuitarZ Switch - Todos os direitos resevados</span>
    </div>
  </div>
</div>
