<div class="banner-logged">
  <div class="container">

    <div class="banner-info-logged">
    <h1 class="font-1-xl cor-12">Welcome back <span class="cor-p1"><%= user.first_name %></span></h1>
    <p class="font-2-m cor-8 mb-3">Rent the best guitars in town and start shredding today</p>

    </div>

  </div>
</div>
