.btn-rent {
  background-color: #d22e2e;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.btn-rent:hover {
  background-color: #a4263c;
  transition: 0.5ms;
  color: #ffffff;
}

.btn-card {
  border-radius: 0 0 4px 4px;
}

.btn-primary {
  background-color: #1D1B1C;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.btn-primary:hover {
  background-color: #000000;
  transition: 0.5ms;
  color: #ffffff;
  transition: 0.5ms;

}

.btn-delete {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 10px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
}
