.btn-rent {
  background-color: #1D1B1C;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.btn-rent:hover {
  background-color: #000000;
  transition: 0.5ms;
  color: #ffffff;
}

.btn-card {
  border-radius: 0 0 4px 4px;
}
