.btn-rent {
  background-color: var(--cor-p1);
  color: var(--cor-0);
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.btn-rent:hover {
  background-color: var(--cor-p2);
  transition: 0.5ms;
  color: var(--cor-0);
}


.btn-primary {
  background-color: var(--cor-p1);
  color: var(--cor-0);
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn-primary:hover {
  background-color: var(--cor-p2);
  transition: 0.5ms;
  color: #ffffff;
  transition: 0.5ms;

}

.btn-secondary {
  background-color: var(--cor-10);
  color: var(--cor-0);
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn-secondary:hover {
  background-color: var(--cor-12);
  transition: 0.5ms;
  color: var(--cor-0);
  transition: 0.5ms;

}

.btn-third{
  background-color: var(--cor-6);
  color: var(--cor-0);
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn-third:hover {
  background-color: var(--cor-7);
  transition: 0.5ms;
  color: var(--cor-0);
  transition: 0.5ms;
}

.btn-add{
  background-color: var(--cor-a1);
  color: var(--cor-0);
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn-add:hover {
  background-color: var(--cor-a2);
  transition: 0.5ms;
  color: var(--cor-0);
  transition: 0.5ms;

}

.btn-delete {
  background-color: #ff0000;
  color: var(--cor-0);
  font-size: 20px;
  padding: 6px 10px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.btn-card {
  border-radius: 0 0 4px 4px;
  display: block;
}

.btn-card-2 {
  border-radius: 0 0 4px 4px;
  display: block;
}

.btn-card-3 {
  border-radius: 0;
  display: block;
}
