.card-product{
  overflow: hidden;
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

}

.card-product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.5ms;

}

.card-product > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.card-product-infos {

  padding: 16px;
  gap: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  flex: 1;

  h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}

  h3::before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 12px;
  margin-right: 6px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
  position: relative;
  top: -3px;
}
  p {
    font-size: 14px;
    opacity: .7;
    margin-bottom: 10px;
    text-transform: capitalize;

  }
}

  .price {
    font-size: 18px;
    margin: 0;
    justify-self: end;
    align-self: start;


  }
  .price::after {
    content:' per day';
    font-size: 12px;
    opacity: .7;
    letter-spacing: -1px;

  }



@media (max-width: 800px) {


  .card-product-infos .price {
    font-size: 16px;

  }

}
