.card-product{
  overflow: hidden;
  background: white;
  border-radius: 4px;
}

.card-product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: 0.5ms;

}

.card-product > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.card-product-infos {

  padding: 16px;
  display: flex;
  justify-content: space-between;

  h3 {
  font-size: 18px;
  font-weight: bold;
}

  h3::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 8px;
  margin-right: 8px;
  background-color: #d22e2e;
  transition: width 0.2s;
  position: relative;
    top: -3px;
}
  p {
    font-size: 14px;
    opacity: .7;
  }

  .price {
    font-size: 18px;
  }
  .price::after {
    content:' per day';
    font-size: 12px;
    opacity: .7;
    letter-spacing: -1px;

  }

}
