.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link {
 color: var(--cor-11);

}

.nav-link::after {
  content: "";
  display: inline-block;
  height: 14px;
  width: 2px;
  margin-left: 14px;
  background-color: var(--cor-4);
  transition: width 0.2s;
  position: relative;
  top: 2px;

  .last::after {

    display: none !important;

  }

 }
