.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link {
 color: var(--cor-11);

}

.nav-link:hover {
  color: var(--cor-p1);
  transition: 0.5ms;

 }

.navbar-nav li > a::after {
  content: "";
  display: inline-block;
  height: 14px;
  width: 2px;
  margin-left: 14px;
  background-color: var(--cor-3);
  transition: width 0.2s;
  position: relative;
  top: 2px;

}


.navbar-nav li:last-child > a::after {
    display: none;
 }

.avatar {
  margin-left: 4px;
}

 @media (max-width: 800px) {

  .navbar-nav li > a::after  {
    display: none;

 }

 .avatar {
  margin-left: 0;
  margin-top: 5px;
}

.navbar-nav li::after {
content: "";
display: block;
width: 100%;
height: 2px;
border-radius: 5px;
background: var(--cor-1);
margin: 0.325rem 0;
position: relative;

}


.navbar-nav li:last-child:after {
  content: "";
  display: none;

  }


 }
